.no-dizmo-drag {
    -apple-dashboard-region: dashboard-region(control rectangle);
}

body {
    margin: 0px;
    padding: 0px;
}

#front {
    width: 100%;
    #connections {
        width: 100%;
    }
    .vehicleicon img{
        position: relative;
        top: 10px;
        left: 10px;
        width: 49px

    }
    .timeandvehicle {
        width: 70px;
        height: 70px;
        margin: 0px;
        float: left;


    }
    .details{
        width: 270px;
        height: 70px;
        border-bottom-style: solid;
        border-width: 1px;
        position: absolute;
        left: 80px;

    }
    .time{
        width: 70px;
        margin: auto;
        position: relative;
        top: 5px;
        font-size: 35px;
    }
    .details .destination{
        position: relative;
        top: 5px;
        left: 5px;
        font-size: 20px;
    }
        #second-details {
        top: 80px;
        position: absolute;
    }
    #second-tav{
        top: 80px;
        position: absolute;
    }

    #third-details {
        top: 160px;
        position: absolute;
    }
    #third-tav{
        top: 160px;
        position: absolute;
    }

    #fourth-details {
        top: 240px;
        position: absolute;
    }
    #fourth-tav{
        top: 240px;
        position: absolute;
    }
}

#back {
    .done-btn-wrapper {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        text-align: center;

        .done-btn {
            margin-bottom: 20px;
        }
    }
}
